#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
#url --url="http://10.95.30.13:8880/iso"
# Use graphical install
#graphical

text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

selinux --disabled
firewall --disabled
# Root password
rootpw --iscrypted $6$pqiYV1qjSfN8qIyW$U2W.aZ6Mrgm7Ltl/KIpZ35NmMg15/H/ItyTUR4gkIBlksm2SlgnqEAnL0dj51sjxnwbF5jzGk/1ismqfBNxI81

# System services
services --enabled="rngd"
services --disabled="firewalld"

# System timezone
timezone Asia/Shanghai --utc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.1 --fstype="lvmpv" --ondisk=vda --size 10240 --grow
part /boot --fstype="ext4" --ondisk=vda --size=1024
volgroup cl --pesize=4096 pv.1
logvol / --fstype="ext4" --name=root --vgname=cl --percent=100
reboot

%packages
@^minimal
@core
wget
emacs-nox
chrony
rng-tools
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post --log=/var/log/ks-post.log --nochroot
unset DISPLAY
cd /tmp
curl -O http://10.95.31.210/testing/latest/packages/lms_installer.tar.gz
tar xzvf lms_installer.tar.gz
cd lms_installer/
./install.sh lms
%end
