#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Installation in text mode.
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=dhcp

# Root password
rootpw --iscrypted $6$pqiYV1qjSfN8qIyW$U2W.aZ6Mrgm7Ltl/KIpZ35NmMg15/H/ItyTUR4gkIBlksm2SlgnqEAnL0dj51sjxnwbF5jzGk/1ismqfBNxI81

# System services
services --enabled="rngd"
services --disabled="chronyd,firewalld"

# System security configuration
selinux --disabled
firewall --disabled

# System timezone
timezone Asia/Shanghai --utc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.1 --fstype="lvmpv" --ondisk=vda --size 20480 --grow
part /boot --fstype="ext4" --ondisk=vda --size=1024
volgroup cl --pesize=4096 pv.1
logvol / --fstype="ext4" --name=root --vgname=cl --percent=100

# Shut down the system after the installation has successfully completed
shutdown

%packages
@^minimal
@core
wget
emacs-nox
chrony
rng-tools
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
